._*
~*
*~
.DS_Store
*.pyc
figs*/*
.vscode/
.cache/
**/*.pyc
**/*.o 
**/*.c
**/*.dylib
**/*.cpp
**/*.so 
**/*.nrn
**/*.pyc
**/*.py~
**/*.ipynb_checkpoints/
**/__pycache__
*.egg-info
*.edgg-info
*$py.class
**/*~
**/x86_64/**
.conda/conda-bld/**/*
**/*.code-workspace
**/.coverage
**/*.log
**/*.pdf
build_network.py
logs/**
config.json
config.precomputed_syns.json
run_bionet_old.py
arbor.*/
build_files__/
output_*/
output.*/
update_morphologies.py